- name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git pull --rebase origin main
          git add epg.xml
          git commit -m "Update EPG" || exit 0
          git push origin main
